base-color = rgba(76, 92, 209, 1)

body
  margin 0
  user-select none
  background-color base-color

.canvas-page
  margin-top 60px
  display flex
  justify-content center

.canvas-wrapper
  display flex
  align-items center
  justify-content center
  flex-direction column

canvas
  background radial-gradient(#eee 15%, transparent 16%) 0 0 / 20px 20px
  background-color white
  cursor url("../icons/brush.svg") -13 29, auto
  border-radius 20px
  outline 5px solid rgba(57,69,157,0.2)
  
.attribution
  width 117.77px
  position fixed
  left 93.1%
  bottom 1.2%
  font-family 'QuickSand', sans-serif
  font-size 15px
  color rgba(57,69,157,10)
  font-weight bold

a
  color rgba(152, 152, 152, 0.5)
  
a:active
  color darken(rgba(152, 152, 152, 1), 10%)