.chat-system-wrapper
  display flex
  align-items center
  flex-direction column
  width 250px
  height 800px
  font-family 'Onest', sans-serif
  margin-top -4px
  margin-left 10px
  background-color white
  outline 5px solid rgba(57,69,157,0.5)
  border-radius 15px
  
.divider
  width 80%
  height 3px
  background-color gray
  opacity 10%
  border none
  border-radius 5px
  margin-top 10px
  margin-bottom 10px

.answers-wrapper
  width 250px
  height 400px
  display flex
  flex-direction column
  justify-content space-between
  border none
  border-radius 50px
  
.chat-wrapper
  width 250px
  height 400px
  display flex
  flex-direction column
  justify-content space-between
  border none
  border-radius 50px
  
.chat-title-wrapper
  background-color rgba(76, 92, 209, 1)
  width fit-content
  height fit-content
  margin-left 10px
  border none
  border-radius 10px
  
.answers-title-wrapper
  background-color rgba(76, 92, 209, 1)
  width fit-content
  height fit-content
  margin-left 10px
  margin-top 10px
  border none
  border-radius 10px

.chat-title
  display flex
  justify-content center
  padding 10px
  width 80px
  background-color darken(rgba(76, 92, 209, 0.9), 10%)
  border-radius 10px
  color white
  
.answers-title
  display flex
  justify-content center
  padding 10px
  width 100px
  background-color darken(rgba(76, 92, 209, 0.9), 10%)
  border-radius 10px
  color white
  
.text-input
  margin 0px 5px 2px 5px
