.player-list-wrapper
  display flex
  align-items center
  flex-direction column
  width 250px
  height 800px
  font-family 'Nosifer', sans-serif
  margin-top -1px
  margin-right 10px
  background-color white
  outline 5px solid rgba(57,69,157,0.4)
  border-radius 15px
  
.host
  display flex
  justify-content center
  padding 8px 15px 5px 15px
  width 100px
  background-color rgba(57,69,157,0.1)
  border-radius 10px
  color white
  font-weight 700
  margin-top 15px
  margin-bottom 15px

.host-title-wrapper
  background-color rgba(76, 92, 209, 1)
  width fit-content
  height fit-content
  border none
  border-radius 10px

.players
  display flex
  justify-content center
  padding 8px 15px 5px 15px
  width 100px
  background-color rgba(57,69,157,0.1)
  border-radius 10px
  color white
  font-weight 700
  margin-bottom 15px
  
.players-title-wrapper
  background-color rgba(76, 92, 209, 1)
  width fit-content
  height fit-content
  border none
  border-radius 10px
  
.crown
  width 35px
  height 35px
  margin-right 10px
  
.pfp
  width 55px
  height 55px
  display flex
  background-color blue
  border-radius 50%

.host-player-wrapper
  display flex
  flex-direction row
  justify-content center
  align-items center
  margin-bottom 15px
  
.username
  font-family 'QuickSand', sans-serif
  font-weight 700
  margin-left 10px
  opacity 50%