underbar-color = rgba(57,69,157,1)
underbar-border = 3px solid rgba(57,69,157,0.5)

.underbar-wrapper
  margin 10px 0 0 0
  width 80%
  height 78px
  display flex
  justify-content space-around
  align-items center
  flex-direction row
  border underbar-border
  border-radius 5px
  
.tools-wrapper
  width 430px
  display flex
  justify-content space-between

.icon
  width 50px
  cursor pointer
  -webkit-user-drag none
  border underbar-border
  border-radius 5px
  background-color rgba(57,69,157,0.3)

.palette-wrapper
  margin-top 9px
  
.palette-top
  //margin-top 0.5px
  display flex
  justify-content space-between
  flex-direction row
  width 210px
  height 35px
  
.palette-bottom
  //margin-bottom 1.05px
  display flex
  justify-content space-between
  flex-direction row
  width 210px
  height 35px
  
.palette-color
  //margin 5px
  width 25px
  height 25px
  outline underbar-border
  border-radius 5px
  cursor pointer

.black
  background-color black
  
.dark-gray
  background-color gray
  
.gray
  background-color darkgray
  
.white
  background-color white
  
.red
  background-color red
  
.orange
  background-color orange
  
.yellow
  background-color yellow

.green
  background-color green
  
.blue
  background-color blue

.purple
  background-color purple
  
.pink
  background-color deeppink
  
.brown
  background-color brown

.slider-wrapper
  height 45px
  width 250px
  display flex
  justify-content space-around
  border underbar-border
  border-radius 5px
  background-color rgba(57,69,157,0.3)
  
.range-label-border
  height 30px
  width 30px
  margin-top 4.5px
  display flex
  justify-content center
  align-items center
  border underbar-border
  border-radius 100%
  cursor pointer
  
.range-label-small
  height 1px
  width 1px
  background-color base-color
  border 0.5px solid underbar-color
  border-radius 50%
  
.range-label-big
  height 20px
  width 20px
  border 0.5px solid underbar-color
  border-radius 100%
  background-color underbar-color
  
.range-wrapper
  width 130px

input[type="range"]
  -webkit-appearance none
  width 100%
  height 13px
  margin-top 16px
  margin-left -0.4px
  background underbar-color
  border-radius: 10px
  outline: none

input[type="range"]::-webkit-slider-thumb
  -webkit-appearance none
  appearance none
  width 25px
  height 25px
  background lighten(underbar-color, 15%)
  border 3px solid underbar-color
  border-radius 50%
  cursor pointer
