underbar-color = rgba(57,69,157,1)
underbar-border = 3px solid rgba(57,69,157,0.5)

.underbar-wrapper
  margin 10px 0 0 0
  width 95%
  height 78px
  display flex
  justify-content space-around
  align-items center
  flex-direction row
  border underbar-border
  border-radius 5px
  
.tools-wrapper
  width 480px
  display flex
  justify-content space-between

.icon
  width 50px
  cursor pointer
  -webkit-user-drag none
  border underbar-border
  border-radius 5px
  background-color rgba(57,69,157,0.3)

.palette-wrapper
  margin-top 9px
  
.palette-top
  display flex
  justify-content space-between
  flex-direction row
  width 210px
  height 35px
  
.palette-bottom
  display flex
  justify-content space-between
  flex-direction row
  width 210px
  height 35px
  
.palette-color
  width 25px
  height 25px
  outline underbar-border
  border-radius 5px
  cursor pointer

.black
  background-color #353535
  
.dark-gray
  background-color #a6a6a6
  
.gray
  background-color #bfbfbf
  
.white
  background-color #ffffff
  
.red
  background-color #f7514d
  
.orange
  background-color #ffb733
  
.yellow
  background-color #fed347

.green
  background-color #23ab52
  
.blue
  background-color #1a7cff
  
.pink
  background-color #ff8af8

.purple
  background-color darken(#7583f1, 5%)
  
.brown
  background-color #a17570

.slider-wrapper
  height 45px
  width 250px
  display flex
  justify-content space-around
  border underbar-border
  border-radius 5px
  background-color rgba(57,69,157,0.3)
  
.range-label-border
  height 30px
  width 30px
  margin-top 4.5px
  display flex
  justify-content center
  align-items center
  border 3px solid darken(rgba(57,69,157,0.5), 20%)
  border-radius 100%
  cursor pointer
  
.range-label-small
  height 3px
  width 3px
  background-color underbar-color
  border 0.5px solid underbar-color
  border-radius 50%
  
.range-label-big
  height 20px
  width 20px
  border 0.5px solid underbar-color
  border-radius 100%
  background-color underbar-color
  
.range-wrapper
  width 130px

input[type="range"]
  -webkit-appearance none
  width 100%
  height 13px
  margin-top 16px
  margin-left -0.4px
  background underbar-color
  border-radius: 10px
  outline: none

input[type="range"]::-webkit-slider-thumb
  -webkit-appearance none
  appearance none
  width 25px
  height 25px
  background lighten(underbar-color, 15%)
  border 3px solid underbar-color
  border-radius 50%
  cursor pointer

.range-label-button
  position absolute
  width 36px
  height 36px
  opacity 0
  border-radius 50%
  cursor pointer
  
.color-picker-wrapper
  display flex
  flex-direction row

.color-wheel
  width 50px
  margin-right 5px
  cursor pointer
  
#color-picker
  position absolute
  width 0px
  height 0px
  opacity 0
  margin 25px 0 0 25px
  
.color-div
  width 50px
  height 50px
  border-radius 5px
  outline underbar-border
  
.palette-button
  width 25px
  height 25px
  cursor pointer
  opacity 0
  
.erase-all-button
  width 52px
  height 52px
  position absolute
  margin-left -53px
  opacity 0
